{{ $input := . }}


<ul class="sidebar-menu">
    {{- $currentNode := $input.context }}
    {{- range $input.menu }}
        {{- $item := . }}
            {{ with $item.Params }}
                {{- range .entries }}
                <li class="sidebar-menu__item">
                    <a
                    href="/{{ .identifier }}"
                    class="sidebar-menu__link"
                    aria-label="{{- or (T (printf " menu.%s" $item.Identifier)) .Name }}">
                    {{- or .name (T (printf ".%s" .identifier)) | safeHTML }}
                    </a>
                </li>
                {{- end }}
            {{- else }} 
            <li class="sidebar-menu__item"></li>
                <a
                    href="{{ $item.URL }}"
                {{- if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}
                    class="sidebar-menu__link sidebar-menu__link--active" aria-current="page"
                {{- else }}
                    class="sidebar-menu__link"
                {{- end }}
                aria-label="{{- or (T (printf " menu.%s" $item.Identifier)) .Name }}">
                    {{- or $item.Name (T (printf "menu.%s" $item.Identifier)) | safeHTML }}
                </a>
            </li>
            {{- end }}
    {{- end }}
</ul>
